# Analysis of Seed Matchups

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [73]:
df = pd.read_csv("MDataFiles_Stage1/MNCAATourneyDetailedResults.csv")
df_teams = pd.read_csv("MDataFiles_Stage1/MTeams.csv")
df_conf = pd.read_csv("MDataFiles_Stage1/MTeamConferences.csv")
df_seeds = pd.read_csv("MDataFiles_Stage1/MNCAATourneySeeds.csv")

In [74]:
# get winning team's name: merge winning team id with team names
df = pd.merge(df, df_teams, how = "left", left_on = "WTeamID", right_on = "TeamID").\
                rename(columns = {"TeamName": "WTeamName"}).\
                drop(columns = ["TeamID", "FirstD1Season", "LastD1Season"])

# get losing team's name: merge losing team id with team names
df = pd.merge(df, df_teams, how = "left", left_on = "LTeamID", right_on = "TeamID").\
                rename(columns = {"TeamName": "LTeamName"}).\
                drop(columns = ["TeamID", "FirstD1Season", "LastD1Season"])

# get winning team's conference for season: merge with conference data using winning team id and season
df = pd.merge(df, df_conf, how = "left", left_on = ["WTeamID", "Season"], right_on = ["TeamID", "Season"]).\
                rename(columns = {"ConfAbbrev": "WConf"}).\
                drop(columns = ["TeamID"])

# get losing team's conference for season: merge with conference data using losing team id and season
df = pd.merge(df, df_conf, how = "left", left_on = ["LTeamID", "Season"], right_on = ["TeamID", "Season"]).\
                rename(columns = {"ConfAbbrev": "LConf"}).\
                drop(columns = ["TeamID"])

# get winning team's tourney seed for season: merge with seed data using winning team id and season
df = pd.merge(df, df_seeds, how = "left", left_on = ["WTeamID", "Season"], right_on = ["TeamID", "Season"]).\
                rename(columns = {"Seed": "WSeed"}).\
                drop(columns = ["TeamID"])

# get losing team's tourney seed for season: merge with seed data using losing team id and season
df = pd.merge(df, df_seeds, how = "left", left_on = ["LTeamID", "Season"], right_on = ["TeamID", "Season"]).\
                rename(columns = {"Seed": "LSeed"}).\
                drop(columns = ["TeamID"])

# separate the region id from the Seed value
df['WRegion'] = df['WSeed'].apply(lambda x: x[0])
df['LRegion'] = df['LSeed'].apply(lambda x: x[0])

df['WSeed'] = df['WSeed'].apply(lambda x: int(x[1:3]))
df['LSeed'] = df['LSeed'].apply(lambda x: int(x[1:3]))

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1115 entries, 0 to 1114
Data columns (total 42 columns):
Season       1115 non-null int64
DayNum       1115 non-null int64
WTeamID      1115 non-null int64
WScore       1115 non-null int64
LTeamID      1115 non-null int64
LScore       1115 non-null int64
WLoc         1115 non-null object
NumOT        1115 non-null int64
WFGM         1115 non-null int64
WFGA         1115 non-null int64
WFGM3        1115 non-null int64
WFGA3        1115 non-null int64
WFTM         1115 non-null int64
WFTA         1115 non-null int64
WOR          1115 non-null int64
WDR          1115 non-null int64
WAst         1115 non-null int64
WTO          1115 non-null int64
WStl         1115 non-null int64
WBlk         1115 non-null int64
WPF          1115 non-null int64
LFGM         1115 non-null int64
LFGA         1115 non-null int64
LFGM3        1115 non-null int64
LFGA3        1115 non-null int64
LFTM         1115 non-null int64
LFTA         1115 non-null int64
LOR          1115 non-null int64
LDR          1115 non-null int64
LAst         1115 non-null int64
LTO          1115 non-null int64
LStl         1115 non-null int64
LBlk         1115 non-null int64
LPF          1115 non-null int64
WTeamName    1115 non-null object
LTeamName    1115 non-null object
WConf        1115 non-null object
LConf        1115 non-null object
WSeed        1115 non-null int64
LSeed        1115 non-null int64
WRegion      1115 non-null object
LRegion      1115 non-null object
dtypes: int64(35), object(7)
memory usage: 374.6+ KB

In [60]:
mycols = ['Season','DayNum','NumOT','WSeed','LSeed','WScore','LScore','WConf','LConf','WTeamName','LTeamName',
          'WFGM','LFGM','WFGM3','LFGM3','WFTM','LFTM','WOR','LOR','WDR','LDR','WAst','LAst','WTO','LTO','WStl','LStl',
         'WBlk','LBlk','WPF','LPF','WRegion','LRegion','WTeamID','LTeamID']
df = df[mycols]

In [61]:
df.head()

,Season,DayNum,NumOT,WSeed,LSeed,WScore,LScore,WConf,LConf,WTeamName,...,WStl,LStl,WBlk,LBlk,WPF,LPF,WRegion,LRegion,WTeamID,LTeamID
0,2003,134,1,16,16,92,84,big_south,swac,UNC Asheville,...,5,5,3,0,22,22,X,X,1421,1411
1,2003,136,0,01,16,80,51,pac_ten,aec,Arizona,...,10,10,7,3,8,15,Z,Z,1112,1436
2,2003,136,0,10,07,84,71,pac_ten,cusa,Arizona St,...,7,2,4,5,19,18,Z,Z,1113,1272
3,2003,136,0,11,06,79,73,mac,mvc,C Michigan,...,13,6,1,6,19,21,Z,Z,1141,1166
4,2003,136,1,08,09,76,74,pac_ten,acc,California,...,8,5,2,8,14,19,W,W,1143,1301

In [77]:
df['DSeed'] = df['WSeed'] - df['LSeed']
df['DScore'] = df['WScore'] - df['LScore']
df['DFGM'] = df['WFGM'] - df['LFGM']
df['DFGM3'] = df['WFGM3'] - df['LFGM3']
df['DFTM'] = df['WFTM'] - df['LFTM']
df['DOR'] = df['WOR'] - df['LOR']
df['DDR'] = df['WDR'] - df['LDR']
df['DAst'] = df['WAst'] - df['LAst']
df['DTO'] = df['WTO'] - df['LTO']
df['DStl'] = df['WStl'] - df['LStl']
df['DBlk'] = df['WBlk'] - df['LBlk']
df['DPF'] = df['WPF'] - df['LPF']

In [79]:
df.head().T

                       0        1           2           3           4
Season              2003     2003        2003        2003        2003
DayNum               134      136         136         136         136
WTeamID             1421     1112        1113        1141        1143
WScore                92       80          84          79          76
LTeamID             1411     1436        1272        1166        1301
LScore                84       51          71          73          74
WLoc                   N        N           N           N           N
NumOT                  1        0           0           0           1
WFGM                  32       31          31          29          27
WFGA                  69       66          59          53          64
WFGM3                 11        7           6           3           7
WFGA3                 29       23          14           7          20
WFTM                  17       11          16          18          15
WFTA                  26       14          22          25          23
WOR                   14       11          10          11          18
WDR                   30       36          27          20          20
WAst                  17       22          18          15          17
WTO                   12       16           9          18          13
WStl                   5       10           7          13           8
WBlk                   3        7           4           1           2
WPF                   22        8          19          19          14
LFGM                  29       20          25          27          25
LFGA                  67       64          69          60          56
LFGM3                 12        4           7           7           9
LFGA3                 31       16          28          17          21
LFTM                  14        7          14          12          15
LFTA                  31        7          21          17          20
LOR                   17        8          20          14          10
LDR                   28       26          22          17          26
LAst                  16       12          11          20          16
LTO                   15       17          12          21          14
LStl                   5       10           2           6           5
LBlk                   0        3           5           6           8
LPF                   22       15          18          21          19
WTeamName  UNC Asheville  Arizona  Arizona St  C Michigan  California
LTeamName    TX Southern  Vermont     Memphis   Creighton    NC State
WConf          big_south  pac_ten     pac_ten         mac     pac_ten
LConf               swac      aec        cusa         mvc         acc
WSeed                 16        1          10          11           8
LSeed                 16       16           7           6           9
WRegion                X        Z           Z           Z           W
LRegion                X        Z           Z           Z           W
DSeed                  0      -15           3           5          -1
DScore                 8       29          13           6           2
DFGM                   3       11           6           2           2
DFGM3                 -1        3          -1          -4          -2
DFTM                   3        4           2           6           0
DOR                   -3        3         -10          -3           8
DDR                    2       10           5           3          -6
DAst                   1       10           7          -5           1
DTO                   -3       -1          -3          -3          -1
DStl                   0        0           5           7           3
DBlk                   3        4          -1          -5          -6
DPF                    0       -7           1          -2          -5

In [81]:
df.to_csv("MM_agg_df.csv")